<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}Kieran Drewett{% endblock title %}</title>
		<meta name="description" content="Kieran Drewett" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="stylesheet" href='/app.css?v={{ app_css_version | default(value="1") }}' />
		<!-- Privacy-friendly analytics by Plausible -->
		<script async src="https://metrics.drewett.dev/js/pa-4eN693JJ_obx7Qlnbg3-v.js"></script>
		<script>
			window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
			plausible.init()
		</script>
	</head>
	<body>
		<main>{% block content %}{% endblock content %}</main>
		<script src='/app.js?v={{ app_js_version | default(value="1") }}' defer></script>
	</body>
</html>
